@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Poppins:wght@300;400;700&display=swap');

.fontStyle {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.newFontStyle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bg-green {
    background: linear-gradient(45deg, #125b9a, #1a8fe3);
    height: 80px !important;
}

.color-blue {
    background-color: #125b9a;
}

.color-blue:hover {
    background: linear-gradient(45deg, #1a8fe3, #125b9a);
}

.border-green {
    border: 2px solid #125B9A;
    border-radius: 10px;
}
.small-img{
    width: 40px;
    height: 40px;
    border-radius: 10px;

}
.selectImg{
    border: 2px solid black;
}
.images{
    gap: 10px; 
}
.box{
    width: 150%; 
}
/* media quairy */
@media screen and (max-width:800px){
    .small-img{
        width: 30px;
        height: 30px;
    }
    .images{
        gap: 10px; 


    }
    .box{
        width: 150%; 
    }
}


@media screen and (max-width:767px){
    .small-img{
        width: 50px;
        height: 50px;
    }
    .images{
        gap: 30px; 
    }
    .box{
        width: 100%; 
    }
}

@media screen and (max-width:500px){
    .small-img{
        width: 30px;
        height: 30px;
    }
    .images{
        gap: 10px; 
    }
    .box{
        width: 100%; 
    }
}

@media screen and (max-width: 400px) {
    .alert-input {
        width: 160px !important;
    }
}



